<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <input id="nav-search" name="college_name" class="form-control" type="text" placeholder="Search by college name." aria-label="Search">
        <button class="btn btn-outline-success btn-rounded btn-sm my-0 nav-search-btn" type="submit">Search</button>
      </form>
    </div>
  </nav>