<html>
<head>
  <%- include('partials/stylesheet-links') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="card">
        <div class="card-header">
          School not found.
        </div>
        <div class="card-body">
          <h5 class="card-title">The school name you entered was not found.</h5>
          <p class="card-text">Check for spelling errors.</p>
          <a href="/" class="btn btn-outline-success btn-rounded btn-sm my-0">New Search</a>
        </div>
      </div>
    

    <%- include('partials/script-links') %>
</body>
</html>