<!DOCTYPE html>
<html>
<head>
  <%- include('partials/stylesheet-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row justify-content-center align-items-center no-gutters">
        <h1 class="main-heading">Welcome to the College Cost Calculator!</h1>
        <h3 class="main-sub-headings">For class of 2017 graduates, the average student loan debt was $39,400.</h3>
        <h4 class="main-sub-headings">This app will help you to determine how much <strong><em>you will owe</em></strong> when you graduate.</h4>
        <h4 class="main-sub-headings">Type the name of the college you want to attend in the search bar below.</h4>
        <div class="active-green-3 active-green-4 mb-4 search-bar">
          <form action="/" method="POST" class="search-form">
            <input id="search" name="college_name" class="form-control" type="text" placeholder="Search by college name." aria-label="Search">
            <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
          </form>
      </div> 
    </div>
  </div>
  <%- include('partials/script-links') %>
</body>
</html>